.agenda-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px; /* Fixed height */
    width: 100%;
    max-width: 1000px;
    background-color: rgb(246, 246, 246);
    border-radius: 6px;
    padding: 10px;
    margin: auto;
    overflow: visible; /* Prevents content from escaping */
    position: relative; /* Needed for absolute positioning of fade effect */
}

.agenda-title {
    font-size: 20px;
    font-weight: bold;


}