/* src/Loader.css */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full page height */
    background-color: #ffffff; /* Dark background */
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Cool spinning animation */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ffffff;
    border-top: 5px solid #61dafb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  