.user-info {
  position: absolute;
  top: -50px;
  left: 0px;
  right: 0px;
  background-color: rgb(195, 203, 219);
  padding: 27px;
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensures content is flush left */
}

.user-name {
  font-weight: bold;
  color: rgb(27, 24, 32);
}

.results-button, 
.sign-out-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  font-size: 14px;
}

.results-button {
  background-color: black;
  color: white;
}

.sign-out-button {
  background-color: rgb(99, 99, 99);
  color: white;
}