.user-info {
  position: absolute;
  top: -50px;
  left: 0px;
  right: 0px;
  background-color: rgb(195, 203, 219);
  padding: 27px;
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensures content is flush left */
}

.user-name {
  font-weight: bold;
  color: rgb(27, 24, 32);
}