.links-container {
    position: fixed;
    bottom: 20px;  /* Adjust this value if needed */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the links horizontally */
}

.links-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 50%;  /* Adjust this value based on your preference */
}

.links-container li {
    margin: 0; /* No extra margin needed since space-evenly handles spacing */
}

.links-container a {
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-size: 14px;
}

.links-container a:hover {
    color: rgb(72, 35, 86);
}