/* Voting container */
.voting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* Vote buttons */
.vote-buttons {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  align-items: center; /* Centers buttons vertically */
  gap: 15px; /* Space between buttons */
  margin-bottom: 10px; /* Space between vote buttons and submit button */
}

.vote-button {
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
}

.vote-button.yay {
  background-color: rgb(119, 216, 119);
  color: black;
}

.vote-button.nay {
  background-color: rgb(214, 75, 75);
  color: black;
}

.vote-button.abstain {
  background-color: rgb(242, 242, 69);
  color: black;
}

.vote-button.selected {
  border: 1px solid black;
}  

/* Submit button should be centered under the vote buttons */
.submit-container {
  display: flex;
  justify-content: center; /* Centers the submit button */
  margin-top: 10px;
}

.vote-button.submit {
  background-color: rgb(118, 137, 176);
  color: white;
}

.vote-button.submit:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.vote-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}