.results-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(246, 246, 246);
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
  position: relative; /* Ensures child elements position relative to this container */
}

.expand-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  background: none;
  transition: transform 0.2s ease-in-out;
}

.expand-button:hover {
  transform: scale(1.1);
}

  /* Vote boxes container */
  .votes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px; /* Added space between rows */
    justify-content: center;
  }
  
  /* Vote boxes */
  .vote-box {
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }
  
  .vote-box.yay {
    background-color: rgba(15,186,129,255)
  }
  
  .vote-box.nay {
    background-color: rgb(214, 75, 75);
  }
  
  .vote-box.abstain {
    background-color: rgb(242, 242, 69);
  }
  
  .vote-box.none {
    background-color: gray;
  }